.about_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    min-height: 100vh;
}



.about {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 1rem 1rem 1rem 5rem;
    margin: 0 auto;
    gap: 15px;
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: .5rem;
    font-family: 'Josefin Sans', sans-serif;
}

.about_text span {
    font-size: 30px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: center;
    color: #FF66C4;
}

.about_text p {
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #4B4646;
}

@media (max-width: 710px) {
    .about_container {
        margin: 2rem auto;
        gap: 0;

    }

    .about {
        flex-direction: column;
        width: 90%;
        padding: 0;
    }
}