.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 5rem;
    padding: 3rem 0;
}   

.containerFlex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
}

.dflex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dflex p{
    margin-top: 20px;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 27.1445px;
    line-height: 16px;
    text-align: center;
    color: #4B4646;
}
