.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 700px;
}

.img {
    background-color: #FF66C4;
    height: auto;
    width: 35vw;
    height: 100%;
}

.card {
    height: 500px;
    display: flex;
    transition-duration: 500ms;
    transition-delay: 10ms;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.cardReverse {
    height: 500px;
    display: flex;
    transition-duration: 500ms;
    transition-delay: 10ms;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}

.cardReverse:hover {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -o-transform:scale(1.03);
    transform:scale(1.03);
    transition-duration: 500ms;
    transition-delay: 10ms;
}

.card:hover {
    -webkit-transform:scale(1.03);
    -moz-transform:scale(1.03);
    -ms-transform:scale(1.03);
    -o-transform:scale(1.03);
    transform:scale(1.03);
    transition-duration: 500ms;
    transition-delay: 10ms;
}

.title {
    margin-top: 2rem;
    margin-bottom: 50rem;
    margin-left: 10rem;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px;
    font-weight: 400;
    line-height: 54px;
    letter-spacing: 0.1em;
    text-align: left;
    color: #FF66C4;
}

.subtitles {
    margin-top: 2rem;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 30px;
    color: #4B4646;
}

.texto {
    color: #4B4646;
    padding-right: 4vw;
    height: 100%;
    width: 45vw;
    background: #FFE6F7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.texto ul li {
    /* texto */
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 35px;
    list-style: disc;
}

.lista {
    translate: 60px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.lightText {
    translate: 40px 0px;
    margin-top: 3vh;
    margin-right: 3.5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.lightText li {
    font-family: 'Josefin Sans';
    font-size: 18px !important;
    margin-bottom: 6px;
    text-align: start;
    list-style: none !important;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    color: #4b464696;
}

.previous {
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-align: end;
    align-self: flex-end;
    text-decoration-line: underline;
    color: #FF66C4;
    background-color: transparent;
    cursor: pointer;
}

.anotaciones{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8rem;
}

.anotaciones p{
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 30px;
color: #000000;
margin-left: 2rem;
margin-right: 2rem;
}

.left{
    width: 40%;
    text-align: right;
}

.right{
    width: 40%;
    text-align: left;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    height: 71px;
    background-color: #FF66C4;

    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: left;
    color: #FFFFFF;

    margin-bottom: 1rem;

}

.me {
    margin-right: 10px;
}

.dnone{
    display: none;
}

.imagesAB{
    margin-left: 6px;
    margin-right: 6px;
    width: 35vw;
    height: auto;
}


@media screen and (max-width: 768px) {
    .services {
        height: auto;
        margin-bottom: 6rem;
    }

    .img {
        width: 100%;
        height: auto;
        align-self: center;
    }

    .texto {
        width: 100vw;
        padding: 0;
        margin: 0;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: start;
    }

    .texto ul {
        width: 80vw;
    }
    

    .card {
        flex-direction: column;
        height: auto;
    }

    .cardReverse {
        flex-direction: column-reverse;
        height: auto;
    }

    .title{
        margin-top: 5rem;
        margin-bottom: 4rem;
        margin-left: 3rem;
    }

    .subtitles {
        font-size: 1.6rem;
        line-height: 24px;
    }

    .lightText li {
        font-size: 1rem;
        line-height: 24px;
    }

    .texto ul li{
        font-size: 1.1rem;
    }

    .previous {
        font-size: 1.2rem;
        line-height: 20px;
        margin-right: 1rem;
    }

    .imagesAB{
        margin-top: 6px;
        margin-bottom: 6px;
        width: 65vw;
        height: auto;
    }

    .anotaciones{
        flex-direction: column;
        align-items: center;
    }

    .left{
        width: 90%;
        text-align: center;
    }
    
    .right{
        width: 90%;
        text-align: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .img {
        height: auto;
        width: 45vw;
        height: 100%;
    }

    .texto {
        width: 55vw;
        padding-right: 10vw;
        padding-left: 0;
        margin-left: 0;
        text-align: start;
        /* margin-right: 50px; */
    }

    .texto ul li {
        font-size: 1.2rem;
        line-height: 27px;
        margin-right: 60px;
        margin-left: 0;
    }

    .lista{
        margin-left: 0;
    }

    .subtitles {
        font-size: 1.8rem;
        line-height: 28px;
    }

    .lightText li {
        font-size: 1.2rem;
        line-height: 25px;
    }

    .previous {
        font-size: 1.4rem;
        line-height: 25px;
    }

    .me {
        display: inline;
    }
}
